# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jekyll built site
docs/_site/
docs/.jekyll-cache

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
.python-version

# Puzzle Inputs
*/01/puzzle_input.txt
*/02/puzzle_input.txt
*/03/puzzle_input.txt
*/04/puzzle_input.txt
*/05/puzzle_input.txt
*/06/puzzle_input.txt
*/07/puzzle_input.txt
*/08/puzzle_input.txt
*/09/puzzle_input.txt
*/10/puzzle_input.txt
*/11/puzzle_input.txt
*/12/puzzle_input.txt
*/13/puzzle_input.txt
*/14/puzzle_input.txt
*/15/puzzle_input.txt
*/16/puzzle_input.txt
*/17/puzzle_input.txt
*/18/puzzle_input.txt
*/19/puzzle_input.txt
*/20/puzzle_input.txt
*/21/puzzle_input.txt
*/22/puzzle_input.txt
*/23/puzzle_input.txt
*/24/puzzle_input.txt
*/25/puzzle_input.txt

/times.txt